<html>
    <head>
        <title>Form Test Index</title>
        <style>
            label{
                display:block;
            }
        </style>
        <!-- <link rel="stylesheet" href={{url_for('static',filename='style.css')}}> -->
    </head>
    <body>
        <form action='/process' method='post'>
            <label>
                email
                <input type='text' name='eml'>
            </label>
            <label>
                    First Name:
                    <input type='text' name='first_name'>
            </label>
            <label>
                    Last Name:
                    <input type='text' name='last_name'>
            </label>      
            <label>
                    Password:
                    <input type='password' name='password'>
            </label>
            <label>
                    Confirm Password:
                    <input type='password' name='password2'>
            </label>

            <button>submit</button>
        </form>
    </body>
</html>